.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal{
   background-color: #818B91; 
}
.grass {
    background-color: #63BC5A;
}    
    
.fire {
    background-color: #FF9D55;
}            
    
.water {
    background-color: #5090D6;
}        
    
.electric {
    background-color: #F4D23C;
}        
    
.ice {
    background-color: #73CEC0;
}        
    
.ground{
    background-color:  #D97845;
}       
    
.flying{
    background-color: #8FA9DE;
}        
    
.poison{
    background-color: #AA6BC8;
}        
    
.fighting{
    background-color: #CE416B;
}         
    
.psychic{
    background-color: #FA7179;
}        
    
.dark {
    background-color: #5A5465;
}        
    
.rock {
    background-color: #C5B78C;
}

.bug {
    background-color: #91C12F;
}        
    
.ghost {
    background-color: #5269AD;
}        
    
.steel {
    background-color: #5A8EA2;
}        
    
.dragon {
    background-color: #0B6DC3;
}        
    
.fairy {
    background-color: #EC8FE6;
}        
    
.button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;

}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    background-color: #6c79db;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}